h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
form{
    padding-left: 50px;
    padding-right:30px;
    margin-top:80px
 }
body {
    background-color: snow;
}
.body-content {
    padding-left: 50px;
    padding-right: 15px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.button {
    display: inline-block;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.button:hover {
    background-color: #45a049;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 20%;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display:none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}